.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}

input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}

.search_icons{
    border: 1px solid #D0CFCE;
}

.search_icons:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
}